body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#lines{
    position: relative;
    height: 200px;
    width: 50px;
    cursor: pointer;
}

.line{
    width: 50px;
    height: 5px;
    background-color: white;
    position: absolute;
    transition: .5s;
}

.line.line1{
    top: 60%;
}
.line.line2{
    top: 50%;
}
.line.line3{
    top: 40%
}

#input{
    display: none;
}

#input:checked + #lines .line1{
    transform: rotate(45deg);
    top: 50%;

}

#input:checked + #lines .line2{
    transform: rotate(-45deg);
    top: 50%;
}

#input:checked + #lines .line3{
    transform: rotate(45deg);
    top: 50%;
}