body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

label{
    height: 200px;
    width: 50px;
    position: relative;
}

.line{
    background-color: white;
    width: 50px;
    height: 8px;
    position: absolute;
    transition: .5s;
}

.line1{
    top: 60%;
}

.line2{
    top: 50%;
}

.line3{
    top: 40%;
}

#input{
    display: none;
}

#input:checked + label .line1{
    transform: rotate(45deg);
    top: 50%;
}

#input:checked + label .line2{
    transform: rotate(45deg);
    top: 50%;
}

#input:checked + label .line3{
    transform: rotate(-45deg);
    top: 50%;
}